body {
  font-family: sans-serif;
}

h1 {
  width: fit-content;
  margin: auto;
  font-size: 2rem;
}

h2 {
  width: fit-content;
  margin: auto;
  font-size: 1.6rem;
  color: rgb(15, 122, 205);
}

#game-board {
  width: fit-content;
  display: flex;
  gap: 5rem;
  margin-inline: auto;
  margin-top: 2rem
}

button {
  font-size: x-large;
  border: 2px black solid;
  cursor: pointer;
  margin-inline: 0.5rem;
}

#logs {
  width: 15rem;
  height: 25rem;
  border: 2px solid aliceblue;
  overflow:scroll;
  padding: 0.4rem;
}

.log {
  margin: 0.24rem;
  background-color: azure;
  font-weight: bold;
  font-size: large;
}